node_modules
.env
.vscode
# Hardhat files
/cache
/artifacts
ignition
# TypeChain files
/typechain
/typechain-types
.deps/
# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
.states
.DS_Store